EJERCICIO 1:

Buscar un conjunto de datos a analizar:
* Es necesario que el conjunto de datos a analizar tenga variables numéricas y categóricas, primando que haya más de una variable de tipo numérico. Ya que tambien se utilizarán serán útiles a la hora de realizar predicciones en las clases de regresión lineal múltiple. Así mismo se recomienda que los datasets esten ligeramente limpios para facilidar los análisis.

In [31]:

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams["figure.figsize"] = (10,8)


import warnings
warnings.filterwarnings('ignore')

In [60]:
df = pd.read_csv("datos/cars_price.csv", index_col = 0)
df.head(2)

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
ID,,,,,,,,,,,,,,,,,
45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8

EJERCICIO 2

Explicar los datos y las variables disponibles en el conjunto de datos seleccionado:
* Esto se hace para que comprendais mejor los datos con los que estais trabajando.
* Realizar un EDA sencillo para la variable dependiente y la variable independiente.

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19237 entries, 45654403 to 45813273
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             19237 non-null  int64
 1   Levy              19237 non-null  object
 2   Manufacturer      19237 non-null  object
 3   Model             19237 non-null  object
 4   Prod. year        19237 non-null  int64
 5   Category          19237 non-null  object
 6   Leather interior  19237 non-null  object
 7   Fuel type         19237 non-null  object
 8   Engine volume     19237 non-null  object
 9   Mileage           19237 non-null  object
 10  Cylinders         19237 non-null  float64
 11  Gear box type     19237 non-null  object
 12  Drive wheels      19237 non-null  object
 13  Doors             19237 non-null  object
 14  Wheel             19237 non-null  object
 15  Color             19237 non-null  object
 16  Airbags           19237 non-null  int64
dtypes: float64(1), int64(3), object(13)
memory usage: 2.6+ MB

In [34]:
df.shape

(19237, 17)

In [35]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Price,19237.0,18555.927224,190581.269684,1.0,5331.0,13172.0,22075.0,26307500.0
Prod. year,19237.0,2010.912824,5.668673,1939.0,2009.0,2012.0,2015.0,2020.0
Cylinders,19237.0,4.582991,1.199933,1.0,4.0,4.0,4.0,16.0
Airbags,19237.0,6.582627,4.320168,0.0,4.0,6.0,12.0,16.0

In [36]:
df.describe(include= "O").T

                  count unique         top   freq
Levy              19237    559           -   5819
Manufacturer      19237     65     HYUNDAI   3769
Model             19237   1590       Prius   1083
Category          19237     11       Sedan   8736
Leather interior  19237      2         Yes  13954
Fuel type         19237      7      Petrol  10150
Engine volume     19237    107           2   3916
Mileage           19237   7687        0 km    721
Gear box type     19237      4   Automatic  13514
Drive wheels      19237      3       Front  12874
Doors             19237      3      04-May  18332
Wheel             19237      2  Left wheel  17753
Color             19237     16       Black   5033

In [37]:
df.isnull().sum()

Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

In [38]:
df.head(2)

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
ID,,,,,,,,,,,,,,,,,
45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8

- vamos a limpiar la columna mileage para que sea de tipo integer, ya que son kilometros.

In [64]:
df["Mileage"].unique()

array(['186005 km', '192000 km', '200000 km', ..., '140607 km',
       '307325 km', '186923 km'], dtype=object)

In [69]:
df["Mileage"] = df["Mileage"].replace('km', " ")

In [70]:
df["Mileage"]

ID
45654403    186005 km
44731507    192000 km
45774419    200000 km
45769185    168966 km
45809263     91901 km
              ...
45798355    300000 km
45778856    161600 km
45804997    116365 km
45793526     51258 km
45813273    186923 km
Name: Mileage, Length: 19237, dtype: object

In [63]:
df["Mileage"] = df["Mileage"].split(" ")
df

AttributeError: 'Series' object has no attribute 'split'

In [54]:
df["Mileage"][1]

KeyError: 1