In [41]:
import pandas as pd
import random 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm

import researchpy as rp
import scipy.stats as stats
from scipy.stats import levene
from scipy.stats import kstest
from scipy.stats import skew

import math 
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from statsmodels.formula.api import ols
from statsmodels.multivariate.manova import MANOVA


import warnings
warnings.filterwarnings('ignore')

plt.rcParams["figure.figsize"] = (20,10) 
pd.options.display.max_columns = None

In [42]:
df= pd.read_pickle('datos/cars_price_norm_est_an.pkl')
df.head(2)

,Levy,Manufacturer,Prod_year,Category,Leather_interior,Fuel_type,Engine_volume,Mileage,Cylinders,Gear_box_type,Drive_wheels,Doors,Color,Airbags,Price_log
0,1.766963,LEXUS,-0.411248,Jeep,Yes,Hybrid,3.5,0.237134,1.375313,Automatic,4x4,04,Silver,1.329406,9.497622
1,0.943936,CHEVROLET,-0.173337,Jeep,No,Petrol,3,0.273438,1.375313,Tiptronic,4x4,04,Black,0.319668,9.718422

##### <font color=green> Hacer una códificación de la/las variables categóricas que tengáis en vuestro set de datos.

##### <font color=green> Recordad que lo primero que deberéis hacer es decidir su vuestras variables tienen o no orden, para que en función de esto uséis una aproximación u otra.

- Sacamos los valores únicos de cada variable categorica:

In [43]:
df.dtypes

Levy                 float64
Manufacturer          object
Prod_year            float64
Category              object
Leather_interior      object
Fuel_type             object
Engine_volume         object
Mileage              float64
Cylinders            float64
Gear_box_type         object
Drive_wheels          object
Doors               category
Color                 object
Airbags              float64
Price_log            float64
dtype: object

In [44]:
df["Manufacturer"].unique()

array(['LEXUS', 'CHEVROLET', 'HONDA', 'FORD', 'HYUNDAI', 'TOYOTA',
       'MERCEDES-BENZ', 'PORSCHE', 'JEEP', 'VOLKSWAGEN', 'AUDI',
       'RENAULT', 'NISSAN', 'SUBARU', 'DAEWOO', 'BMW', 'KIA',
       'MITSUBISHI', 'SSANGYONG', 'MAZDA', 'GMC', 'FIAT', 'INFINITI',
       'ALFA ROMEO', 'SUZUKI', 'OPEL', 'LINCOLN', 'CITROEN', 'MINI',
       'DODGE', 'CHRYSLER', 'JAGUAR', 'LAND ROVER', 'ACURA', 'VAZ',
       'SKODA', 'DAIHATSU', 'BUICK', 'TESLA', 'CADILLAC', 'PEUGEOT',
       'BENTLEY', 'VOLVO', 'სხვა', 'HAVAL', 'HUMMER', 'SCION', 'MERCURY',
       'SEAT', 'LANCIA', 'FERRARI', 'MASERATI', 'SAAB', 'GAZ', 'PONTIAC',
       'SATURN', 'ASTON MARTIN'], dtype=object)

In [45]:
df["Category"].unique()

array(['Jeep', 'Hatchback', 'Sedan', 'Microbus', 'Goods wagon',
       'Universal', 'Coupe', 'Minivan', 'Cabriolet', 'Pickup',
       'Limousine'], dtype=object)

In [46]:
df["Leather_interior"].unique()

array(['Yes', 'No'], dtype=object)

In [47]:
df["Fuel_type"].unique()

array(['Hybrid', 'Petrol', 'Diesel', 'Plug-in Hybrid', 'LPG', 'CNG',
       'Hydrogen'], dtype=object)

In [48]:
df["Engine_volume"].unique()

array(['3.5', '3', '1.3', '2.5', '2', '1.8', '2.4', '3.3', '1.6',
       '2.0 Turbo', '2.2 Turbo', '4.7', '3.0 Turbo', '1.4 Turbo', '3.6',
       '1.5', '2.3', '1.5 Turbo', '1.6 Turbo', '2.2', '2.3 Turbo', '1.4',
       '5.5', '3.2', '3.8', '4.6', '1.2', '5', '1.7', '2.9', '0.5',
       '1.8 Turbo', '2.4 Turbo', '4', '1.9', '2.7', '4.8', '5.3', '2.8',
       '2.1', '0.7', '5.4', '4.4', '1.3 Turbo', '3.7', '1', '2.6',
       '4.4 Turbo', '4.7 Turbo', '2.5 Turbo', '0.8', '0.2 Turbo',
       '3.5 Turbo', '5.7', '4.8 Turbo', '4.6 Turbo', '6.7', '6.2',
       '1.2 Turbo', '3.4', '1.7 Turbo', '2.8 Turbo', '2.7 Turbo', '0.4',
       '4.2', '2.9 Turbo', '0', '1.9 Turbo', '4.0 Turbo', '20',
       '3.6 Turbo', '3.7 Turbo', '5.5 Turbo', '6.3 Turbo', '0.2',
       '2.1 Turbo', '5.6', '6', '0.7 Turbo', '0.6 Turbo', '6.8', '4.5',
       '3.2 Turbo', '0.6', '7.3', '0.1', '1.0 Turbo', '4.5 Turbo',
       '0.8 Turbo', '4.2 Turbo', '5.0 Turbo', '1.1', '6.4', '6.3',
       '5.7 Turbo', '3.9', '4.3', '0.4 Turbo'], dtype=object)

In [49]:
df["Gear_box_type"].unique()

array(['Automatic', 'Tiptronic', 'Variator', 'Manual'], dtype=object)

In [50]:
df["Drive_wheels"].unique()

array(['4x4', 'Front', 'Rear'], dtype=object)

In [51]:
df["Doors"].unique()

['04', '02', ' 5']
Categories (3, object): [' 5', '02', '04']

In [52]:
df["Color"].unique()

array(['Silver', 'Black', 'White', 'Grey', 'Blue', 'Red', 'Sky blue',
       'Orange', 'Green', 'Yellow', 'Golden', 'Beige', 'Brown',
       'Carnelian red', 'Purple', 'Pink'], dtype=object)

Pensamos que todas las categóricas todas nuestras categoricas si que puede influir en el valor del coche, por lo tanto, establecemos que tiene orden.

Ya que hemos establecido que nuestras variables tienen orden, vamos a utilizar el label enconding

In [53]:
from sklearn.preprocessing import LabelEncoder

In [54]:
le = LabelEncoder()

df['Manufacturer_le']=le.fit_transform(df['Manufacturer'])
df['Category_le']=le.fit_transform(df['Category'])
df['Leather_interior_le']=le.fit_transform(df['Leather_interior'])
df['Fuel_type_le']=le.fit_transform(df['Fuel_type'])
df['Engine_volume_le']=le.fit_transform(df['Engine_volume'])
df['Gear_box_type_le']=le.fit_transform(df['Gear_box_type'])
df['Drive_wheels_le']=le.fit_transform(df['Drive_wheels'])
df['Doors_le']=le.fit_transform(df['Doors'])
df['Color_le']=le.fit_transform(df['Color'])

In [55]:
df.head()

,Levy,Manufacturer,Prod_year,Category,Leather_interior,Fuel_type,Engine_volume,Mileage,Cylinders,Gear_box_type,Drive_wheels,Doors,Color,Airbags,Price_log,Manufacturer_le,Category_le,Leather_interior_le,Fuel_type_le,Engine_volume_le,Gear_box_type_le,Drive_wheels_le,Doors_le,Color_le
0,1.766963,LEXUS,-0.411248,Jeep,Yes,Hybrid,3.5,0.237134,1.375313,Automatic,4x4,04,Silver,1.329406,9.497622,29,4,1,2,58,0,0,2,12
1,0.943936,CHEVROLET,-0.173337,Jeep,No,Petrol,3,0.273438,1.375313,Tiptronic,4x4,04,Black,0.319668,9.718422,8,4,0,5,52,2,0,2,1
2,-1.255121,HONDA,-1.362894,Hatchback,No,Petrol,1.3,0.321884,-0.411095,Variator,Front,04,Black,-1.194937,9.043932,20,3,0,5,18,3,1,2,1
3,0.606949,FORD,-0.173337,Jeep,Yes,Hybrid,2.5,0.133949,-0.411095,Automatic,4x4,04,White,-1.699806,8.190632,16,4,1,2,42,0,0,2,14
4,-0.291683,HONDA,0.540397,Hatchback,Yes,Petrol,1.3,-0.332738,-0.411095,Automatic,Front,04,Silver,-0.690069,9.369564,20,3,1,5,18,0,1,2,12

Vamos a eliminar las columnas Manufacturer, Category, Leather_interior, Fuel_type, Engine_volume, Gear_box_type, Drive_wheels, Doors y Color, ya que los modelos que aplicaremos a partir de ahora no serán capaces de leerlos. Nos quedaremos con las nuevas columnas de cada (.._le).

In [56]:
df.drop(["Manufacturer", "Category", "Leather_interior", "Fuel_type", "Engine_volume", "Gear_box_type", "Drive_wheels", "Doors", "Color"], axis = 1, inplace = True)
df.head(2)

,Levy,Prod_year,Mileage,Cylinders,Airbags,Price_log,Manufacturer_le,Category_le,Leather_interior_le,Fuel_type_le,Engine_volume_le,Gear_box_type_le,Drive_wheels_le,Doors_le,Color_le
0,1.766963,-0.411248,0.237134,1.375313,1.329406,9.497622,29,4,1,2,58,0,0,2,12
1,0.943936,-0.173337,0.273438,1.375313,0.319668,9.718422,8,4,0,5,52,2,0,2,1


##### <font color=green> Guardad el dataframe, donde deberíais tener las variables estadandarizas, normalizadas y codificadas en un csv para usarlo en el próximo pairprogramming

In [57]:
df.to_pickle('datos/cars_price_norm_est_cod.pkl')

In [58]:
df.to_csv('datos/cars_price_norm_est_cod.csv')